@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #f7f7fb;
  --color-background-dark: #d9d9d9;
  --color-text: #0d163a;
  --color-custom-blue: #4745A4;
  --color-custom-yellow: #F9BA33;
  --color-custom-green: #3BBB6E;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
